html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 225, 225);
    text-shadow: 2px 2px 2px black;
}

/**********************NAV BAR***********************/
#navBar{
    background-image: url(../img/background\ projetdev.png);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    padding: 30px;
}
#navBar a{
    color: white;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Laila', sans-serif;
}
.burger{
    display: none;
}
.gauche{
    font-size: 25px;
    text-align: center;
}
.centre{
    font-size: 15px;
    margin-top: 10px;
}
.droite .fa-solid{
    color: white;
    border: 3px solid #dadada;
    border-radius: 50px;
}


/*******animation settings*********/
.droite{
    animation: spin 6s linear infinite;
}
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.centre a:hover{
    background-color: rgba(255,255,255,0.5);
    border-radius: 60%;
}
.sunIcone{
    padding: 0px 5px;
}

/*********************** MENU BURGER *************************/


/*********************** SIDE NAV *************************/

.sideNavClass{
    background-image: url(../img/background\ projetdev.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    transition: 1s;
    width: 0;
    overflow-x: hidden;
    position: fixed;
    top:0;
    z-index: 1000;
}

.sideNavClass li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10px;
    list-style-type: none;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.sideNavClass button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px 50px;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(104, 102, 102);
    background-color: white;
    font-size: 20px;
    word-spacing: 5px;
}

.startBootstrap{
    text-align: center;
}


/*********************** DARK MODE *************************/

.dark-mode{
    background-color: #202020;
    color: white;
}

